extends layout

block content
  
  

    h3#numUsuarios
    .chat_window
      .top_menu
        .buttons
          .button.close
          .button.minimize
          .button.maximize
        .title Chat
      ul.messages
      .bottom_wrapper.clearfix
        .message_input_wrapper
          input.message_input(placeholder='Type your message here...')
        .send_message
          .icon#send
          .text Send
    .message_template
      li.message
        .avatar
        .text_wrapper
          .text         
        




    
    script.
      const socket = io();
      //const inputNombre = document.getElementById('inputNombre')
      const inputMensaje = document.querySelector('.message_input')
      const btnEnviar = document.querySelector('.send_message')
      const sctMensajes = document.querySelector('.messages')
      const numUsuarios = document.getElementById('numUsuarios')

        btnEnviar.addEventListener('click', ()=> {
        console.log('click')
        socket.emit('chat_mensaje', {
          //nombre: inputNombre.value,
          mensaje: inputMensaje.value
        });
      })

      socket.on('chat_mensaje', data => {
        sctMensajes.innerHTML += `<li>${data.mensaje}</li>`
        });
      
      socket.on('chat_usuarios', data => {
        numUsuarios.innerText = `Usuarios: ${data}`;
        toastr.info('Se ha conectado un nuevo usuario')
      })//